[submodule "JavaSim"]
	path = JavaSim
	url = https://github.com/nmcl/JavaSim
[submodule "mosaik-api-java"]
	path = mosaik-api-java
	url = https://gitlab.com/AlpTorac/mosaik-api-java
[submodule "Automata"]
	path = Automata
	url = https://github.com/pschichtel/Automata
[submodule "gem5"]
	path = gem5
	url = https://gem5.googlesource.com/public/gem5
